
<div draggable="true" ngClass="{{dragAreaClass}}">
  <div class="row">
    <div class="col-md-12 text-center" >
      <a href="javascript:void(0)" (click)="file.click()" >
        Click to browse 
      </a>
      Or Drag & Drop to upload your files

        <input type="file" 
              #file 
              [multiple]="(maxFiles > 1)"
              (change) = "onFileChange($event)"
              style="display:none" />
    </div>
  </div>

</div>
<div class="row error" *ngIf="errors.length > 0">    
  <ul>
    <li *ngFor="let err of errors">{{err}}</li>
  </ul>
</div>
  
  